@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-50: #fdf2f9;
  --color-brand-100: #fce7f6;
  --color-brand-200: #fbcfe9;
  --color-brand-300: #f9a8d4;
  --color-brand-400: #f472b6;
  --color-brand-500: #ec4899;
  --color-brand-600: #db2777;
  --color-brand-700: #be185d;
  --color-brand-800: #9d174d;
  --color-brand-900: #831843;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-50 text-zinc-900 antialiased;
}
